<%- include("header") -%>

<h1>This is the about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta unde ullam error maiores illum ab officia iure nihil esse. Dicta.</p>


<%- include("footer") -%>